header {
  display: flex;
  border: 2px red dashed;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100vw;
}
header nav {
  flex-grow: 2;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  display: inline;
  list-style: none;
}
a,
a:visited,
a:link {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.logo {
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 16vw;
  height: 10vh;
  border: 2px violet dashed;
}

header::after {
  content: "";
  width: 20vw;
  height: 15vw;
  border: 2px yellow solid;
}
header::before {
  content: "";
  width: 20vw;
  height: 15vw;
  border: 2px yellow solid;
}

/* .empty {
  width: 20vw;
  height: 7vw;
  border: 2px greenyellow dashed;
} */
