main article:nth-of-type(2) {
  height: 75vh;
  display: flex;
  border: 2px green dashed;
  justify-content: center;
  align-items: center;
}
.phones {
  width: 35vw;
  height: 55vh;
  border: 2px #ffff00 dashed;
  display: flex;
  align-self: flex-start;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.black {
  width: 33vw;
  height: 50vh;
  background-image: url(../images/phone_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  left: 18%;
}
.white {
  width: 35vw;
  height: 50vh;
  background-image: url(../images/phone_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 35%;
  bottom: 10%;
}
